{% extends "base.html.j2" %}

{% set active_page = "about" %}

{%block body%}
<body>

<main>
     <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
        <div class="col-2 col-sm-2 col-lg-2">
        </div>
        <div class="col-lg-9">
            <h1 class="display-4 fw-bold lh-1 mb-3">RuHateBe</h1>
            <p class="lead">RuHateBe — это русскоязычный бенчмарк, позволяющий оценивать способность диалоговых систем на предмет разжигания ненависти. </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
        </div>
     </div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
        <div class="col-2 col-sm-2 col-lg-2">
        </div>
          <div class="col-lg-9">
            <h1 class="display-4 fw-bold lh-1 mb-3">HateCheck</h1>
            <p class="lead">HateCheck — датасет, в котором собраны диалоги, состоящие из двух реплик, уровень токсичности которых достигает 97%.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
        </div>
    </div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
        <div class="col-2 col-sm-2 col-lg-2">
        </div>
          <div class="col-lg-9">
            <h1 class="display-4 fw-bold lh-1 mb-3">Датасеты</h1>
            <p class="lead">ProDota — крупнейший форум об игре Dota 2. Согласно статистике, это самый агрессивный сайт в рунете: более 36% контента ProDota содержит нецензурную лексику. </p>
              <p class="lead">Двач — второй по токсичности российский ресурс после ProDota. Пользователи «Двача» выработали свой собственный оскорбительный словарный запас, поэтому, помимо общеупотребительных оскорбительных слов, здесь есть много редких и уникальных ругательств.</p>
              <p class="lead">Для нетоксичных диалогов мы взяли датасеты Open Subtitles и Fiction corpus</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
        </div>
    </div>

</main>


<footer class="footer py-3 my-4">
       <p class="text-center text-muted">© RuHateBe project <a href="https://github.com/Annasuhstuff/RUHABE-website"><img
            src="{{ url_for('static', filename='img/github-mark.png') }}"
            width="42"
            height="30" alt="Cсылка на проект"></a></p>
    </footer>



</body>
{%endblock%}