{% extends "base.html.j2" %}

{% set active_page = "download" %}

{%block body%}
<body>
<main>
    <div class="position-relative overflow-hidden text-center p-1 p-md-1 m-md-5">
        <h1 class="display-5 font-weight-normal">Скачать датасеты</h1>
        <p class="lead font-weight-normal">Здесь можно скачать несколько вариантов датасетов</p>
        <dev class="d-flex justify-content-center align-items-center">
            <ul>
                <li> Полный датасет проекта</li>
                <li> Датасеты по категориям</li>
            </ul>
        </dev>
    </div>

    <div class="position-relative overflow-scroll text-center p-1 p-md-1 m-md-4" style="height: 350px">
        <div class="d-flex justify-content-between align-items-stretch"></div>
        <div class="col-md-8 p-lg-8 mx-auto my-xxl-1">
            <div class="row justify-content-around align-items-center">
                <div class="col-md-8">
                    <div class="row justify-content-around">
                        <div class="col-md-6 box">
                            <h4>LGBTQ+</h4>
                            <a href="https://docviewer.yandex.ru/view/905103890/?*=HqXV56whbo8C7As1PKupYWQ9AG17InVybCI6InlhLWRpc2stcHVibGljOi8vRnplaHVBZlh6VGhuYi90b2NqdFNpd2lDV3hBN2dvaHJuODUxZXVOK0grR2UwbmJ6emxJSGpHeDFOUk5jNXlnWUVrSTBlMGl0L1A1M0pqQktkcmpGdWc9PTovZGZfbGdidC5jc3YuemlwIiwidGl0bGUiOiJkZl9sZ2J0LmNzdi56aXAiLCJub2lmcmFtZSI6ZmFsc2UsInVpZCI6IjkwNTEwMzg5MCIsInRzIjoxNjc5ODM1NzEwMTg3LCJ5dSI6IjQzNDg3OTcwOTE2NTA5MjI2NTMifQ%3D%3D">Скачать</a>
                        </div>
                        <div class="col-md-6 box">
                            <h4>Женщины</h4>
                            <a href="https://docviewer.yandex.ru/view/905103890/?*=Bkom%2B9cdqxUFVxuprA87RBx5%2F0p7InVybCI6InlhLWRpc2stcHVibGljOi8vRnplaHVBZlh6VGhuYi90b2NqdFNpd2lDV3hBN2dvaHJuODUxZXVOK0grR2UwbmJ6emxJSGpHeDFOUk5jNXlnWUVrSTBlMGl0L1A1M0pqQktkcmpGdWc9PTovd29tZW5fbWF0Y2hlZC5jc3YuemlwIiwidGl0bGUiOiJ3b21lbl9tYXRjaGVkLmNzdi56aXAiLCJub2lmcmFtZSI6ZmFsc2UsInVpZCI6IjkwNTEwMzg5MCIsInRzIjoxNjc5ODM1NzM4NDg1LCJ5dSI6IjQzNDg3OTcwOTE2NTA5MjI2NTMifQ%3D%3D">Скачать</a>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-md-6 box">
                            <h4>Мужчины</h4>
                            <a href="https://docviewer.yandex.ru/view/905103890/?*=P%2B8YSweR9kmokvMDkZ70z7Xi6pl7InVybCI6InlhLWRpc2stcHVibGljOi8vRnplaHVBZlh6VGhuYi90b2NqdFNpd2lDV3hBN2dvaHJuODUxZXVOK0grR2UwbmJ6emxJSGpHeDFOUk5jNXlnWUVrSTBlMGl0L1A1M0pqQktkcmpGdWc9PTovZGZfbWFuLmNzdi56aXAiLCJ0aXRsZSI6ImRmX21hbi5jc3YuemlwIiwibm9pZnJhbWUiOmZhbHNlLCJ1aWQiOiI5MDUxMDM4OTAiLCJ0cyI6MTY3OTgzNTcxMjkzNSwieXUiOiI0MzQ4Nzk3MDkxNjUwOTIyNjUzIn0%3D">Скачать</a>
                        </div>
                        <div class="col-md-6 box">
                            <h4>Дети</h4>
                            <a href="https://docviewer.yandex.ru/view/905103890/?*=81Y69mXCF5%2Bvfyczlr9hxhcaImh7InVybCI6InlhLWRpc2stcHVibGljOi8vRnplaHVBZlh6VGhuYi90b2NqdFNpd2lDV3hBN2dvaHJuODUxZXVOK0grR2UwbmJ6emxJSGpHeDFOUk5jNXlnWUVrSTBlMGl0L1A1M0pqQktkcmpGdWc9PTovY2hpbGRfbWF0Y2hlZC5jc3YuemlwIiwidGl0bGUiOiJjaGlsZF9tYXRjaGVkLmNzdi56aXAiLCJub2lmcmFtZSI6ZmFsc2UsInVpZCI6IjkwNTEwMzg5MCIsInRzIjoxNjc5ODM1NzAwODM4LCJ5dSI6IjQzNDg3OTcwOTE2NTA5MjI2NTMifQ%3D%3D">Скачать</a>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-md-6 box">
                            <h4>Мигранты</h4>
                            <a href="https://docviewer.yandex.ru/view/905103890/?*=lBC1R4x9BmxrKPmDJSaAmvJgrHR7InVybCI6InlhLWRpc2stcHVibGljOi8vRnplaHVBZlh6VGhuYi90b2NqdFNpd2lDV3hBN2dvaHJuODUxZXVOK0grR2UwbmJ6emxJSGpHeDFOUk5jNXlnWUVrSTBlMGl0L1A1M0pqQktkcmpGdWc9PTovZGZfbWlncmFudC5jc3YuemlwIiwidGl0bGUiOiJkZl9taWdyYW50LmNzdi56aXAiLCJub2lmcmFtZSI6ZmFsc2UsInVpZCI6IjkwNTEwMzg5MCIsInRzIjoxNjc5ODM1NzE2MjU4LCJ5dSI6IjQzNDg3OTcwOTE2NTA5MjI2NTMifQ%3D%3D">Скачать</a>
                        </div>
                        <div class="col-md-6 box">
                            <h4>Цвет кожи</h4>
                            <a href="https://docviewer.yandex.ru/view/905103890/?*=FXoubTlnIndfyyvUYlrkOBB7nxp7InVybCI6InlhLWRpc2stcHVibGljOi8vRnplaHVBZlh6VGhuYi90b2NqdFNpd2lDV3hBN2dvaHJuODUxZXVOK0grR2UwbmJ6emxJSGpHeDFOUk5jNXlnWUVrSTBlMGl0L1A1M0pqQktkcmpGdWc9PTovZGZfYm9ybi5jc3YuemlwIiwidGl0bGUiOiJkZl9ib3JuLmNzdi56aXAiLCJub2lmcmFtZSI6ZmFsc2UsInVpZCI6IjkwNTEwMzg5MCIsInRzIjoxNjc5ODM1NzA4MDQ2LCJ5dSI6IjQzNDg3OTcwOTE2NTA5MjI2NTMifQ%3D%3D">Скачать</a>
                        </div>
                    </div>
                    <div class="pb-3 box">
                        <h4>Другое</h4>
                        <a href="https://docviewer.yandex.ru/view/0/?*=BAOqwYUR8SCsxchGquewj0p7FPZ7InVybCI6InlhLWRpc2stcHVibGljOi8vRnplaHVBZlh6VGhuYi90b2NqdFNpd2lDV3hBN2dvaHJuODUxZXVOK0grR2UwbmJ6emxJSGpHeDFOUk5jNXlnWUVrSTBlMGl0L1A1M0pqQktkcmpGdWc9PTovb3RoZXJzX3dvcmRzLmNzdi56aXAiLCJ0aXRsZSI6Im90aGVyc193b3Jkcy5jc3YuemlwIiwibm9pZnJhbWUiOmZhbHNlLCJ1aWQiOiIwIiwidHMiOjE2Nzk4MzYzMjY0ODIsInl1IjoiOTc2NDI2ODM0MTY3OTU3Nzg3NyJ9">Скачать</a>
                    </div>
                </div>
                <div class="col-md-4 box">
                    <h4>Общий датасет</h4>
                    <a href="https://disk.yandex.ru/d/hi3PF0XuoyCRlg">Скачать</a>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
{% endblock %}